@import 'reset-css';
@import 'Assets/Styles/';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: $black;
	font-size: 18px;
}

body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
// 

